body {
  margin: 0;
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4efe7;
  color: #1f2937;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}
